@use "./styles/exercise1";
@use "./styles/exercise2";
@use "./styles/home";
@use "./styles/navigation";

@tailwind base;
@tailwind components;
@tailwind utilities;

.exercise-page {
  @apply min-h-screen bg-primary-50;
  .container {
    @apply max-w-[1104px] mx-auto px-6;
  }
}

.rte{
  --tw-prose-body: #000;
  @apply max-w-none;
}

// fade up animation
.fade-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.fade-up-enter-active {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up-enter-to {
  opacity: 1;
  transform: translateY(0);
}